
div > a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
  }
  
  div > a:hover {
    background-color: #0056b3;
  }
  

  h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 28px;
    color: #333;
  }
  